# Python 缓存和虚拟环境
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
env/
venv/
ENV/
env.bak/
venv.bak/
._*

# 日志和临时文件
*.log
*.tmp
*.bak
*.swp

# macOS 系统文件
.DS_Store

# Jupyter Notebook 检查点
.ipynb_checkpoints

# 项目相关忽略
/jeff_test/output
/jeff_test/test_music
/jeff_test/data/download
/jeff_test/data
/jeff_test/output2
jeff_test/刘德华-忘情水.mp3
jeff_test/刘德华-忘情水.wav
jeff_test/clip_30s.wav
.venv/

