/jeff_test/__pycache__
/jeff_test/output
/submission2/__pycache__
/submission2/output - 副本
/submission2/output
/submission2/__pycache__
/submission2/__pycache__
/submission2/__pycache__
/submission2/__pycache__
submission2/models/openai_api_key.txt
submission2/models/events.out.tfevents.1745914615.ShiJamesCheng.13124.0
submission2/models/events.out.tfevents.1745914779.ShiJamesCheng.6440.0
submission2/models/events.out.tfevents.1745916648.ShiJamesCheng.15120.0
submission2/models/events.out.tfevents.1745924175.ShiJamesCheng.22696.0
submission2/models/events.out.tfevents.1745926449.ShiJamesCheng.23988.0
submission2/models/events.out.tfevents.1745948194.ShiJamesCheng.8864.0
submission2/models/events.out.tfevents.1745948364.ShiJamesCheng.4616.0
submission2/models/events.out.tfevents.1745990493.ShiJamesCheng.4616.1
/submission2/__pycache__
/submission2/__pycache__
